<%= content_for :nav do%>
  <%= render "layouts/navbar" %>
<% end %>

<div class = "container-box">
    <h2 class = "color-font"><center>New Componente</center></h2>
    
    <%= render 'form', componente: @componente %>
    
    <%= link_to 'Voltar', componentes_path %>
</div>