<%= content_for :nav do%>
  <%= render "layouts/navbar" %>
<% end %>

<center>
<h2>Ainda não encontramos.</h2>
<h4>Aqui estão algumas opções do que podemos fazer agora:</h4>
<table class = "table">
    <thead>
        <th>Buscar código de barras</th>
    </thead>
</table>
<h3>O que é '<%= @nome_busca %>'?</h3>
</center>
