<div class = "center-block">
    <img alt="Logo" src="/assets/logo.png" />
    <h2>É vegano?</h2>
    <form>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite um produto, marca ou componente.">
      </div>
      <%= button_to "Enviar rótulo", class: "btn btn-danger"%>
      <%= button_to "Enviar código de barras", class: "btn btn-danger"%>
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    
</div>