<%= content_for :nav do%>
  <%= render "layouts/navbar" %>
<% end %>

<div class = "container-box">
    <div class = "row">
        <div class = "col">
            <p class = "color-font welcome-title">Chega de ficar olhando rótulos!</p>
        </div>
        <div class = "col">
            
        </div>
    </div>
</div>