<hr class="my-3">
<div class = "container footer">
    <div class = "row">
        <div class = "col">
            Termos
        </div>
        <div class = "col">
            Privacidade
        </div>
        <div class = "col">
            <%= link_to "Sobre É vegano?", telaapp_url %> 
        </div>
        <div class = "col">
            <%= link_to "Sobre Equipe One!", equipeone_path %> 
        </div>
    </div>
</div>