<hr class="my-3">
<div class = "container footer">
    <div class = "row">
        <div class = "col">
            Termos
        </div>
        <div class = "col">
            <%= link_to "Privacidade", privacy_path %>
        </div>
        <div class = "col">
            <%= link_to "Sobre É vegano?", sobre_evegano_path %> 
        </div>
        <div class = "col">
            <%= link_to "Sobre Equipe One!", sobre_equipeone_path %> 
        </div>
    </div>
</div>