<hr class="my-3">
<div class = "container footer">
    <div class = "row">
        <div class = "col">
            Termos de Uso
        </div>
        <div class = "col">
            Políticas de privacidade
        </div>
        <div class = "col">
            <strong>Equipe One! @ 2018</strong>
        </div>
        <div class = "col">
            Sobre É vegano?
        </div>
        <div class = "col">
            Sobre Equipe One!
        </div>
    </div>
</div>