<hr class="my-3">
<div class = "container footer">
    <div class = "row">
        <div class = "col">
            Termos
        </div>
        <div class = "col">
            Privacidade
        </div>
        <div class = "col">
            Sobre É vegano?
        </div>
        <div class = "col">
            Sobre Equipe One!
        </div>
    </div>
</div>