<%= content_for :nav do%>
  <%= render "layouts/navbar" %>
<% end %>

<div class = "container-box">
    <h1>Nós somos One!</h1>
    <a href = "#sobre">Sobre o Time</a> - <a href = "#filosofia">Filosofias</a> - <a href = "#metodologias">Metodologias</a> - <a href = "#ferramentas">Ferramentas</a>
    <hr>
    
    <h2 id = "sobre">Sobre o time</h2>
    <div class = "container container-center mt-md">
        <div class = "row mt-md">
            <!-- Guilherme -->
            <div class = "col">
                <div class = "row ccenter">
                    <img src = "https://raw.githubusercontent.com/ricarthlima/eo-project-es/master/docs/paginas/imagens/gps2.png">
                </div>
                <div class = "row ccenter">
                    <strong>Guilherme Prado</strong>
                </div>
                
                <div class = "row ccenter">
                    gps2@cin.ufpe.br
                </div>
            </div>
            
            <!-- Monalisa -->
            <div class = "col">
                <div class = "row ccenter">
                    <img src = "https://raw.githubusercontent.com/ricarthlima/eo-project-es/master/docs/paginas/imagens/mmss.png">
                </div>
                <div class = "row ccenter">
                    <strong>Monalisa Sousa</strong>
                </div>
                
                <div class = "row ccenter">
                    mmss@cin.ufpe.br
                </div>
            </div>
            
            <!-- Ricarth -->
            <div class = "col">
                <div class = "row ccenter">
                    <img src = "https://raw.githubusercontent.com/ricarthlima/eo-project-es/master/docs/paginas/imagens/rrsl.png">
                </div>
                <div class = "row ccenter">
                    <strong>Ricarth Lima</strong>
                </div>
                
                <div class = "row ccenter">
                    rrsl@cin.ufpe.br
                </div>
            </div>
            
            <!-- Warley -->
            <div class = "col">
                <div class = "row ccenter">
                    <img src = "https://raw.githubusercontent.com/ricarthlima/eo-project-es/master/docs/paginas/imagens/wss.png">
                </div>
                <div class = "row ccenter">
                    <strong>Warley Souza</strong>
                </div>
                
                <div class = "row ccenter">
                    wss@cin.ufpe.br
                </div>
            </div>
        </div>
    </div>
    
    <div class = "container mt-md">
    <strong>Nós acreditamos que em uma equipe todos são desenvolvedores.</strong></br>
    A "Equipe One!" se formou em 2017 como um grupo de estudos, e para projetos acadêmicos. Hoje além desses aspectos buscamos crescer como startup. Nosso foco é sempre buscar a excelência em primeiro lugar.
    </div>
    
    <hr>
    
    <h2>Como fazemos o que fazemos?</h2>
    
    <center><i class="fas fas-sm fa-circle"></i><i class="fas fas-sm fa-circle"></i><i class="fas fas-sm fa-circle"></i></center>
    
    <h3 id = "filosofia">Filosofias adotadas</h3>
    
    <ul>
        <li><strong>Nivelamento de conhecimento:</strong> Todos devem saber sobre tudo referente ao projeto;</li>
        <li><strong>Códigos uniformes:</strong> Por exemplo, variáveis semelhantes, com mesma linguagem e com boas práticas;</li>
        <li><strong>DRY:</strong> Não repita seu próprio código;</li>
        <li><strong>Produtividade:</strong> Usar estilos já feito do Bootstrap, ao invés de na unha com CSS.</li>
    </ul> 
    
    <center><i class="fas fas-sm fa-circle"></i><i class="fas fas-sm fa-circle"></i><i class="fas fas-sm fa-circle"></i></center>
    
    <h3 id = "metodologias">Frameworks e Metodologias</h3>
    <p>
        <img src="https://raw.githubusercontent.com/ricarthlima/eo-project-es/master/docs/paginas/imagens/lean.png" alt="Lean" />
        <strong>Lean Startup</strong>
    </p>
    
    <strong id="descrio">Descrição</strong>
    
    <p>
        Lean startup é um conjunto de processos usados por empreendedores para desenvolver produtos e mercados, combinando desenvolvimento ágil de software, desenvolvimento de clientes (Customer Development) e plataformas existentes de software (usualmente FOSS). O conceito foi introduzido por Eric Ries.
    A iniciativa lean startup defende a criação de protótipos rápidos, projetados para validar suposições de mercado, e usa feedback dos clientes para desenvolvê-los muito mais rapidamente do que através de práticas de desenvolvimento de software mais tradicionais, como o modelo Waterfall. Não é incomum ver "lean startups" colocando um novo código em produção várias vezes por dia, usando práticas conhecidas como continuous deployment.
    Lean startup é às vezes descrito como o "pensamento enxuto" (lean thinking) aplicado ao processo empreendedor. Um princípio central no pensamento enxuto é reduzir o desperdício. Os processos de lean startup usam o desenvolvimento de clientes para reduzir o desperdício, incrementando a frequência de contato com clientes reais e assim validando ou eliminando, o mais cedo possível, suposições incorretas sobre mercado. Esta abordagem se propõe a melhorar as táticas empreendedoras, reduzindo o trabalho, o custo de validar suposições sobre o mercado e o tempo necessário ao negócio para encontrar tração de mercado. É referida como "produto minimamente viável" (minimum viable produto ou MVP).
    Em desenvolvimento de produto, o MVP é uma estratégia usada para testes quantitativos e rápidos do mercado de um produto ou das características de um produto, popularizada por Eric Ries, para aplicações web. <br />
    </p>
    
    <strong id="motivao">Motivação</strong>
    
    <p>Essa é nossa principal filosofia de desenvolvimento.</p>
    
    <center><i class="fas fas-sm fa-circle"></i></center>
    <p>
        <img src="https://raw.githubusercontent.com/ricarthlima/eo-project-es/master/docs/paginas/imagens/scrum.png" alt="Scrum" />
        <strong>Scrum</strong>
    </p>
    
    <strong id="descrio-1">Descrição</strong>
    
    <p>O Scrum é um framework de trabalho que emprega diversas ferramentas para o desenvolvimento iterativo e incremental utilizado no gerenciamento de projetos diversos e no desenvolvimento de software ágil. Scrum possui seu foco no gerenciamento e projeto da organização onde é difícil planejar à frente, e não é um processo prescribente, ou seja, ele não descreve o que fazer em cada situação. Ele é usado para trabalhos complexos nos quais é impossível predizer tudo o que irá ocorrer. Além disso, apesar de Scrum ter sido destinado para gerenciamento de projetos de software, ele pode ser utilizado em equipes de manutenção de software ou como uma abordagem geral de gerenciamento de projetos/programas.  </p>
    
    <strong id="motivao-1">Motivação</strong>
    
    <p>O mesmo está sendo usado por nossa equipe devido as ferramentas, valores, princípios e  práticas que o mesmo nos proporciona, assim facilitando a integração, produtividade e assertividade do nosso projeto.</p>
    
    <strong id="observao">Observação</strong>
    
    <p>Como o mesmo prega uma clara divisão de papéis entre os membros, e nós temos uma quantidade limitada de integrantes, decidimos fazer adaptações para nos auxiliar nas tarefas.</p>
    
    <center><i class="fas fas-sm fa-circle"></i><i class="fas fas-sm fa-circle"></i><i class="fas fas-sm fa-circle"></i></center>
    
    <h3 id = "ferramentas">Ferramentas</h3>
    
    <p>
        <img src="https://raw.githubusercontent.com/ricarthlima/eo-project-es/master/docs/paginas/imagens/todoist.png" alt="Todoist" />
        <strong>Todoist</strong>
    </p>

    <strong id="descrio">Descrição</strong>
    
    <p>Todoist é um serviço SaaS, multiplataforma e um conjunto de softwares de gerenciamento de tarefas. Nele as tarefas podem conter notas com arquivos de qualquer tipo, as mesmas também podem ser colocadas em projetos, classificadas por filtros, atribuídas etiquetas, editadas e exportadas.
    O mesmo contem integrações com diversas aplicações, além de oferecer backup, sincronização on-line e gamificação ao permitir aos usuários analisar e visualizar o seu desempenho.     </p>
    
    <strong id="motivao">Motivação</strong>
    <p>O mesmo está sendo usado por nossa equipe devido a organização e, principalmente a produtividade que nos proporciona na execução de nossas tarefas.</p>
    
    <center><i class="fas fas-sm fa-circle"></i></center>
    
    <p>
        <img src="https://raw.githubusercontent.com/ricarthlima/eo-project-es/master/docs/paginas/imagens/github.png" alt="GitHub" />
        <strong>GitHub</strong>
    </p>
    
    <strong id="descrio-1">Descrição</strong>
    
    <p>Github é uma plataforma de hospedagem de código-fonte com controle de versão usando o Git. Ele permite que programadores, utilitários ou qualquer usuário cadastrado na plataforma contribuam em projetos privados e/ou Open Source de qualquer lugar do mundo.</p>
    
    <strong id="motivao-1">Motivação</strong>
    
    <p>O mesmo está sendo usado por nossa equipe devido a disponibilização da hospedagem dos arquivos referentes ao nosso site, e do próprio site. Além, de contribuir para nossa organização através do controle de versão que o mesmo possui.</p>
    
    <center><i class="fas fas-sm fa-circle"></i></center>
    
    <p>
        <img src="https://raw.githubusercontent.com/ricarthlima/eo-project-es/master/docs/paginas/imagens/drive.png" alt="Drive" />
        <strong>Google Drive</strong>
    </p>
    
    <strong id="descrio-2">Descrição</strong>
    
    <p>Google Drive é um serviço de armazenamento e sincronização de arquivos. O mesmo abriga agora o Google Docs, um leque de aplicações de produtividade, que oferece a edição de documentos, folhas de cálculo, apresentações, e muito mais. O Google Drive baseia-se no conceito de computação em nuvem, pois o internauta poderá armazenar arquivos através deste serviço e acedê-los a partir de qualquer computador ou outros dispositivos compatíveis, desde que ligados à internet. Além disso, o Google Drive disponibiliza vários aplicativos online, sem que esses programas estejam instalados no computador da pessoa que os utiliza.</p>
    
    <strong id="motivao-2">Motivação</strong>
    
    <p>O mesmo está sendo usado por nossa equipe devido a grande disponibilização de armazenamento de arquivos referentes ao nosso site de forma prática e rápida.</p>
    
    <center><i class="fas fas-sm fa-circle"></i></center>
    
    <p>
        <img src="https://raw.githubusercontent.com/ricarthlima/eo-project-es/master/docs/paginas/imagens/discord.png" alt="Discord" />
        <strong>Discord App</strong>
    </p>
    
    <strong id="descrio-3">Descrição</strong>
    
    <p>Discord é um aplicativo de voz sobre IP, proprietário e gratuito, projetado para comunidades de jogos.</p>
    
    <strong id="motivao-3">Motivação</strong>
    
    <p>O mesmo está sendo usado por nossa equipe devido a facilidade e rapidez que o mesmo nos proporciona em reuniões remotas da nossa equipe, através dos recursos fundamentais de texto baseados em bate-papo, suporte a chamadas de vídeo e compartilhamento de tela.</p>
</div>