<html>
    <head>
        <title>É vegano?</title>
    </head>
    <meta http-equiv="refresh" content="1; /inicio">
    <body>
        <div class = "centro">
            <%= image_tag("/assets/logos/logo-128.png", size: "64", class: "img_center") %>
        </div>
    </body>
    
</html> 
