<%= content_for :nav do%>
    <meta http-equiv="refresh" content="1; /inicio">
    <div class = "centro">
        <center><img alt="Logo" src="/assets/logos/logo-64.png" /></center>
    </div>
<% end %>



