<html>
    <head>
        <title>É vegano?</title>
    </head>
    <meta http-equiv="refresh" content="1; /inicio">
    <body>
        <div class = "centro">
            <img alt="Logo" src="/assets/logo.png" />
            <h1 class = "label">É vegano?</h1>
        </div>
    </body>
    
</html> 
