<%= content_for :nav do%>
    <meta http-equiv="refresh" content="1; /inicio">
    <div class = "centro">
        <div class = "centro">
            <%= image_tag "/assets/logos/logo-128.png", size: "64"%>
        </div>
    </div>
<% end %>



