<%= content_for :nav do%>
  <%= render "layouts/navbar" %>
<% end %>

<div class = "container-box">
  Coleta e uso de informações

  Ao se registrar no LactoRun, pedimos informações como nome, data de nascimento, endereço de e-mail, entre outros. Sua informação é utilizada internamente apenas e não será compartilhada com outros.

  O LactoRun coleta endereço de e-mail de quem se comunica conosco por e-mail e através de informações enviadas em atividades voluntárias, como por exemplo, inscrições realizadas no site ou participação em pesquisas. LactoRun também coleta dados de uso do aplicativo sem identificação do usuário. Esses dados de uso que coletamos é utilizado para melhorias do LactoRun e qualidade do serviço prestado. Apenas coletamos dados pessoais quando necessário ao fornecimento do serviço, e apenas guardamos a informação pelo tempo necessário para prestação do serviço.
</div>