<%= content_for :nav do%>
  <%= render "layouts/navbar" %>
<% end %>

<div class = "container-box">
    <h1 class = "color-font">O que é o "É vegano?"</h1>
    
    <!-- <a href = "#objetivo">Objetivo</a> - <a href = "#motivacao">Motivação</a> -->
    
    <hr>
    
    <h2 class = "green-color" id = "objetivo">Objetivo</h2>
        <div class = "container container-center mt-md">
            <p>O "É vegano?" surgiu inicialmente como um SaaS (<a href="https://blog.deskmanager.com.br/o-que-e-saas/">Software as a Service</a>) 
                para os projetos das disciplinas de Engenharia 
                de Software e Banco de Dados, do curso de Sistemas de Informação do Centro de
                Informática da Universidade Federal de Pernambuco.</p>
                
            <p> A aplicação é um serviço de software que entrega ao <strong>público vegano</strong> um método prático de consultar 
                quais produtos/marcas são ou não veganos e o porquê. </p>
        </div>
    
    
    
    <hr>
    <!-- <center><i class="fas fas-sm fa-circle"></i><i class="fas fas-sm fa-circle"></i><i class="fas fas-sm fa-circle"></i></center> -->
    
    <h2 class = "green-color" id = "motivacao">Motivação</h2>
        <div class = "container container-center mt-md">
            <p>No Brasil, 14% da população tem uma alimentação vegetariana,
                <a href="https://g1.globo.com/bemestar/noticia/brasil-tem-14-de-vegetarianos-e-81-de-adeptos-a-dieta-com-carne-diz-pesquisa-ibope.ghtml">segundo a Sociedade Vegetariana Brasileira</a>. O mercado consumidor 
                de alimentação plant-based (low or no meat) <a href="http://revistapegn.globo.com/Revista/Common/0,,EMI130934-17153,00-CRESCE+O+MERCADO+VEGANO.html">cresce no mundo todo</a>.</p>
                
            <p> A rigidez pela busca de produtos ou marcas livres de exploração e crueldade com os animais é uma realidade.
                Assim, o app "É vegano?" entra num mercado crescente com <strong>o objetivo de facilitar a vida de quem precisa sempre 
                verificar informações confiáveis sobre a composição do produto e condutas das marcas.</strong> Além disso, temos como ambição
                ajudar o mundo a trilhar o caminho para um futuro mais ético, onde nenhum animal precise sofrer para nos alimentar,
                divertir, vestir ou quaisquer outros motivos. </p> 
                
        </div>
    
    
</div>

