<h1>Editing Marca Pertence Marca</h1>

<%= render 'form', marca_pertence_marca: @marca_pertence_marca %>

<%= link_to 'Show', @marca_pertence_marca %> |
<%= link_to 'Back', marca_pertence_marcas_path %>
