<%= content_for :nav do%>
  <%= render "layouts/navbar" %>
<% end %>

<div class = "container-box">
    <h2 class = "color-font"><center>Nova Marca</center></h2>

    <%= render 'form', marca: @marca %>
    
    <%= link_to 'Voltar', marcas_path %>

</div>

