<%= content_for :nav do%>
  <%= render "layouts/navbar" %>
<% end %>

<div class = "container-box">
    <h2 class = "color-font">Que tal pesquisar pelo rótulo do produto?</h2>
    <br/>
    
    <%= render 'form', produto_imagem: @produto_imagem %>
    
    
    <%= link_to 'Voltar', :back %>
</div>
