<div class = "container-box">
    <h3> Ainda nada? Que tal ajudar o <strong>É vegano?</strong> cadastrando "<%=@nome_busca%>"? </h3>
    <br/>
    
    <%= render "/produtos/form", produto: Produto.new%>
</div>