<h1>Editing Usuario Avalia Marca</h1>

<%= render 'form', usuario_avalia_marca: @usuario_avalia_marca %>

<%= link_to 'Show', @usuario_avalia_marca %> |
<%= link_to 'Back', usuario_avalia_marcas_path %>
