<h1>Editing Marca Nome Alternativo</h1>

<%= render 'form', marca_nome_alternativo: @marca_nome_alternativo %>

<%= link_to 'Show', @marca_nome_alternativo %> |
<%= link_to 'Back', marca_nome_alternativos_path %>
