/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

body{
    background-color: #BDF2CC;
}

.color-font{
    font-family: 'Mali', cursive;
    color: #68C14D;
}

.fonte{
    font-family: 'Mali', cursive;
}

.navbar-evegano{
    background-color: #f7d291;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.text-nav{
    color: #000000;
}

.mt-sm{
    margin-top: 10px;
}

.mt-md{
    margin-top: 20px;
}

div.horizontal_line{
    width: 75%; /* Line width */ 
    background-color: #68C14D; /* Line color */ 
    height: 2px; /* Override in-line if you want specific height. */ 
    /*position: center;*/
    /*float: center; /* Causes the line to float to left of content. You can instead use position:absolute or display:inline-block if this fits better with your design */
    margin: auto;
}

div.container-box{
    background-color: #FFF;
    padding: 3%;
    margin-top: 5%;
    margin: auto;
    border-radius: 15px;
    
}

.btn-75{
    width: 75%;
}

.form-control{
    //width: 75%;
    margin: auto;
}

.form100{
    width: 100%;
}

.form-text{
    width: 75%;
    margin: auto;
}

.centro {
    width: 200px;
    height: 200px;
    margin-left: -100px; /* metade da largura */
    margin-top: -100px; /* metade da altura */
    position: absolute;
    top: 50%;
    left: 50%;
}

div.scrolled{
    height: 10%; 
    overflow-y: scroll;
}

div.dangerzone{
    border: 2px solid #C82333;
    padding: 1%;
    margin-top: 5%;
    margin: auto;
    border-radius: 2%;
}

.footer{
    color: #78a985;
    font-size: 75%;
    text-align: center;
    justify-content: center;
    padding-bottom: 3%;
}

.ccenter{
    text-align: center;
    justify-content: center;
}

.nopadding{
    padding: 0;
}

.center40{
    width: 90%;
    max-width: 27em;
    border: 2px solid #88c057;
    border-radius: 2%;
    text-align: center;
    justify-content: center;
    padding: 3%;
}

.supercenter{
    width: 100%;
    height: 100%;
}


@media (max-width: 700px){
    .external-image-size{
        max-width: 80px;
        height: auto;
    }
    
    .selo-evegano{
        width: 100%;
        text-align: center;
        display: inline-block;
        font-size: 1em;
    }
    
    .pmc-name{
        font-size: 1.2em;
    }
}

@media (min-width: 700px){
    .external-image-size{
        max-width: 150px;
        height: auto;
    }
    
    .selo-evegano{
        max-width: 35%;
        font-size: 1em;
    }
    
    .pmc-name{
        font-size: 1.8em;
    }
}

.selo-evegano{
    background: #F0F0F0;
    border-style: solid;
    border-radius: 10px;
    border-color: #88c057; 
    border-width: 2px;
    padding: 5px 0px; 
}

hr{
    color: #88c05750;
    background-color: #88c05750;
    border-color: #88c05750;
}

.fas-sm{
    font-size: 0.5em;
    padding: 0px 2px;
    color: #88C057;
}


.sq25{
    width: 25px;
    height: 25px;
}

.btn-provider{
    display: flex;
    min-width: 100%;
    border-style: solid;
    border-color: #88c057; 
    border-width: 1px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.btn-primary-evegano{
    background: #ed8f20;
    color: #FFF;
    font-weight: bold;
}

.btn-primary-evegano:hover{
    background: #fca849;
    color: #FFF;
}

.btn-secondary-evegano{
    background: #e3aa75;
    color: #000;
    font-weight: bold;
}