/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

body{
    background-color: #BDF2CC;
}

h1{
    font-family: 'Mali', cursive;
    color: #68C14D;
}

h2{
    font-family: 'Mali', cursive;
    color: #68C14D;
}

.bg-green{
    background-color: #88c057;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.text-nav{
    color: #000000;
}

div.horizontal_line{
    width: 75%; /* Line width */ 
    background-color: #68C14D; /* Line color */ 
    height: 2px; /* Override in-line if you want specific height. */ 
    /*position: center;*/
    /*float: center; /* Causes the line to float to left of content. You can instead use position:absolute or display:inline-block if this fits better with your design */
    margin: auto;
}

div.container-box{
    background-color: #FFFFFF;
    padding: 3%;
    margin-top: 5%;
    margin: auto;
    border-radius: 1%;
}

.btn-primary-color{
    background-color: #ED8F20;
    color: #FFFFFF;
    font-weight: bold;
}

.btn-75{
    width: 75%;
}

.form-control{
    width: 75%;
    margin: auto;
}

.form100{
    width: 100%;
}

.form-text{
    width: 75%;
    margin: auto;
}

.centro {
    width: 200px;
    height: 200px;
    margin-left: -100px; /* metade da largura */
    margin-top: -100px; /* metade da altura */
    position: absolute;
    top: 50%;
    left: 50%;
}

div.scrolled{
    height: 10%; 
    overflow-y: scroll;
}

div.dangerzone{
    border: 2px solid #C82333;
    padding: 1%;
    margin-top: 5%;
    margin: auto;
    border-radius: 2%;
}






