<h1>Editing Usuario Busca Produto</h1>

<%= render 'form', usuario_busca_produto: @usuario_busca_produto %>

<%= link_to 'Show', @usuario_busca_produto %> |
<%= link_to 'Back', usuario_busca_produtos_path %>
